@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Sign in";
}

<div class="ms-Grid">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md8 ms-u-lg6 ms-u-xl4 ms-u-mdPush2 ms-u-lgPush3 ms-u-xlPush4">

        <h2 class="ms-font-su">Sign in to your account</h2>

        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="ms-font-m"></div>

                <div class="ms-TextField">
                    <label asp-for="Email" class="ms-Label"></label>
                    <input asp-for="Email" class="ms-TextField-field" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="ms-TextField">
                    <label asp-for="Password" class="ms-Label"></label>
                    <input asp-for="Password" class="ms-TextField-field" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="ms-CheckBox">
                    <input asp-for="RememberMe" class="ms-CheckBox-input" />
                    <label asp-for="RememberMe" class="ms-CheckBox-field">
                        <span class="ms-Label">@Html.DisplayNameFor(m => m.RememberMe)</span>
                    </label>
                </div>

                <br/>

                <div>
                    <button class="ms-Button ms-Button--primary" type="submit">
                        <span class="ms-Button-label">Sign in</span>
                    </button>

                    <span class="ms-font-m">or</span>

                    <a class="ms-Link" asp-action="register" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        create an account
                    </a>
                </div>

                <p>
                    <a class="ms-Link" asp-action="forgotpassword">Forgot your password?</a>
                </p>
            </form>
        </section>
        
        @{
            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
            if (loginProviders.Count > 0)
            {
                <section>
                    <h3 class="ms-font-xxl">Sign in with another provider</h3>
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="ms-Button" name="provider" value="@provider.AuthenticationScheme" title="Sign in with @provider.DisplayName">
                                        <span class="ms-Button-label">@provider.AuthenticationScheme</span>
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                </section>
            }
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
